* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  position: absolute;
  top: 0px;
}

h1 {
  font-size: 3rem;
  margin: 55px;
  color: black;
  text-align: center;
}

.image {
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  max-width: 330px;
  width: 90%;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  margin: 4em 2em;
  height: 3.75em;
  width: 16em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  -webkit-transition: 1s;
  transition: 1s;
  background-image: -webkit-gradient(linear, left top, right top, from(#7289da), color-stop(56%, #2c2f33), to(#23272a));
  background-image: linear-gradient(to right, #7289da 0%, #2c2f33 56%, #23272a 100%);
  background-size: 150% auto;
  cursor: pointer;
}

button:hover {
  background-position: right center;
}

button:focus {
  outline: none;
}

.buttonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: transparent;
  width: 100%;
  height: 54px;
  color: inherit;
  text-decoration: none;
}

.productHunt {
  width: 250px;
  height: 54px;
}

@media all and (max-width: 420px) {
  button {
    margin: 5em 1em;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 345px) {
  button {
    width: 7em;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

span {
  display: inline-block;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#particles-js {
  overflow: hidden;
}
/*# sourceMappingURL=globals.css.map */